<mat-toolbar class="fs-page-header" color="primary" fxLayoutAlign="center center">
  <h2>{{ 'COMMON.CORP' | translate }}</h2>
</mat-toolbar>

<div class="fs-page-content" fxLayout="column">
  <div fxFlex fxLayout="column" class="corp">
    <div>
      <h3 class="">Address</h3>
      <p class=""><b>Neekware Inc.</b> 133 Weber St. N. Suite 3-204, Waterloo, N2J 3G9, Canada</p>
    </div>
    <div>
      <h3 class="">Phone</h3>
      <p class="">+1 (226) 476-1569 (Ex: 300)</p>
    </div>
    <div>
      <h3 class="">Email</h3>
      <p class=""><a href="mailto:info@neekware.com">info@neekware.com</a></p>
    </div>
  </div>

  <div fxFlex fxLayout="column" class="corp" fxLayoutAlign="center center">
    <button mat-raised-button color="primary">
      <a href="/">home</a>
    </button>
  </div>
  <div fxFlex></div>
</div>
