.fs-about {
  max-width: 1024px;
  margin: 9px auto;
  padding: 16px 15px 51px 15px;
}

.fs-about .row {
  margin: 2px auto;
}

.image img {
  width: 102%;
  height: 100%;
}

.fs-about .text {
  padding: 0 15px;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  margin: 10px 0 16px 0;
  opacity: 0.87;
  line-height: 32px;
}

.description {
  margin: 0 0 16px 0;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.87;
  line-height: 28px;
  padding: 0;
}
