<mat-toolbar class="fs-page-header" color="primary" fxLayoutAlign="center center"> {{ 'APP.ABOUT' | translate }} </mat-toolbar>

<!-- <div class="fs-page-content">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center">
      <img class="about-image" src="./assets/images/people/ceo-mobile-small.png" />
    </div>
  </div>
</div> -->

<div class="fs-about">
  <div fxLayoutGap="24px" fxLayout="column" fxLayoutAlign="center">
    <div
      *ngFor="let person of peopleList; let even = even"
      fxLayout="column"
      fxLayout.gt-xs="row"
      fxLayoutGap="20px"
      fxLayoutAlign="space-evenly center"
      class="row"
    >
      <div fxFlex="calc(50% - 8px)" fxFlex.xs="calc(33% - 8px)" class="person" [fxFlexOrder.gt-xs]="even ? '1' : '2'" ngClass.xm="small">
        <h3 class="title">{{ person.title | translate }}</h3>
        <p class="description" [innerHTML]="person.description">.</p>
      </div>
      <div
        fxFlex="calc(50% - 8px)"
        fxFlex.xs="calc(33% - 8px)"
        fxLayoutAlign="center"
        [fxLayoutAlign.gt-xs]="even ? 'end center' : 'start center'"
        class="image"
        [fxFlexOrder.gt-xs]="even ? '2' : '1'"
      >
        <img src="{{ person.image }}" alt="{{ person.title | translate }}" />
      </div>
    </div>
  </div>
</div>
